html {
	cursor:  url(assets/cursor.png), auto;
}

body {
	background-image: url("assets/reaching.gif");
	background-size: 100% 100%;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#container {
	margin: 0 auto;
	text-align: center;
	height: 50vh;
}

#content img {
	max-width:100%;
}

h1 {
	color: white;
}
.randomgif {
	display: none;
}

#refresh {
	position: relative;
	top: 50px;
	color: #EBAB47;
	background-color: black;
	font-size: 16px;
}


